<div class="row dashboard">
    <div class="dashboard-top__left col-sm-6 dashboard-top__left--divider">
        <div class="dashboard-top__left__header">
            <h4 class="dashboard-top__left__header__title">DELIVERY STATUS</h4>
            <h5 class="dashboard-top__left__header__subtitle">Total Orders</h5>        
            <h5 class="dashboard-top__left__header__count">150</h5>
        </div>
        
        <div class="dashboard-top__left__pie-progress">
            <div class="dashboard-top__left__pie-progress__delivered">
                <circle-progress
                    [percent]="85"
                    [radius]="80"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#25CDB9'"
                    [innerStrokeColor]="'#E8E8E8'"
                    [animationDuration]="300"
                    [responsive]="true"
                ></circle-progress>
                <span>Orders Delivered</span>
            </div>    
            
            <div class="dashboard-top__left__pie-progress__pending">
                <circle-progress
                    [percent]="85"
                    [radius]="80"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ff5660'"
                    [innerStrokeColor]="'#E8E8E8'"
                    [animationDuration]="300"
                    [responsive]="true"
                ></circle-progress>
                <span>Orders Pending</span>
            </div>
        </div>
    </div>
    <div class="dashboard-top__right col-sm-6">
        <div class="dashboard-top__right__sales">
            <h4 class="dashboard-top__right__title">TOTAL SALES</h4>
            <span class="dashboard-top__right__currency">USD</span>
            <h1 class="dashboard-top__right__amount">1234</h1>
        </div>
    </div>

    <div class="col-7-sm">

    </div>
    <div class="col-5-sm">

    </div>
</div>