<div class="sidebar">
  <a href="#" routerLink="/dashboard">
    <div class="sidebar-item">
      <i class="fab fa-windows" aria-hidden="true"></i>
      <span class="sidebar-item-title">Dashboard</span>
    </div>
  </a>
  <a href="#" routerLink="/">
    <div class="sidebar-item">
      <i class="fa fa-credit-card" aria-hidden="true"></i>
      <span class="sidebar-item-title">New Order</span>
    </div>
  </a>
  <a href="#" routerLink="/status">
    <div class="sidebar-item">
      <i class="fas fa-cube" aria-hidden="true"></i>
      <span class="sidebar-item-title">Status</span>
    </div>
  </a>
</div>
